{% extends "base.html" %}
{% block body %}
  <h2>Chirps</h2>
    {% if chirps %}
      <table>
        <thead>
          <tr>
            <th>ID</th><th>Handle</th><th>Body</th><th>Timestamp</th><th>Delete</th>
          </tr>
        </thead>
        <tbody>
        {% for chirp in chirps %}
          <tr>
            <td>{{ chirp.id }}</td><td>{{ chirp.handle }}</td><td>{{ chirp.body }}</td><td>{{ chirp.datetime }}</td>
            <td><a href="{{url_for('delete_chirp', chirp_id=chirp.id)}}">Delete</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h4>There are no chirps</h4>
    {% endif %}
{% endblock %}
