{% extends "base.html" %}
{% block body %}
  <h2>Tweets</h2>
    {% if users %}
    <table>
      <thead>
        <tr>
          <th>ID</th><th>Handle</th><th>Admin</th><th>Delete</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td><td>{{ user.handle }}</td>
          <td>{{ 'Yes' if user.admin else 'No' }}</td>
          <td><form action="/admin/user/delete" method="POST"><input name="user_id" type="text" class="hidden" value="{{ user.id }}"/><input name="admin_ps" type="password" placeholder="Admin Password"/><button>Delete</button></form></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h4>There are no users</h4>
  {% endif %}
{% endblock %}
