<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Chirpr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
  <h1>Chirpr</h1>
    {% block body %}{% endblock %}
</body>
</html>
