<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Chirpr</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
  function id(elid){return document.getElementById(elid);}
  </script>
</head>
<body>
    {% with errors = get_flashed_messages(category_filter=["danger_message"]) %}
        {% if errors %}
            {%- for msg in errors %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }}
                </div>
            {% endfor -%}
        {% endif %}  
    {% endwith %}  
    {% with errors = get_flashed_messages(category_filter=["success_message"]) %}
        {% if errors %}
            {%- for msg in errors %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }}
                </div>
            {% endfor -%}
        {% endif %}  
    {% endwith %} 
    {% with errors = get_flashed_messages(category_filter=["warning_message"]) %}
        {% if errors %}
            {%- for msg in errors %}
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ msg }}
                </div>
            {% endfor -%}
        {% endif %}  
    {% endwith %} 
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Canary</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="{% if request.path == '/' %}active{%endif%}"><a href="/">Home</a></li>
      <li class="{% if request.path == '/search' %}active{%endif%}"><a href="/search">Follow</a></li>
      <li class="{% if request.path == '/chirp' %}active{%endif%}"><a href="/chirp">Chirp</a></li>
    </ul>
    <form action="/search" method="POST">
    <ul style="" class="nav navbar-nav navbar-right">
        <li><input id="q" name='q' type="text" style="margin:7px;" class="form-control" placeholder="Search Canary..." value="{%if qfill%}{{qfill}}{%else%}{%endif%}"/></li>   
        <li class="{% if request.path == '/account' %}active{%endif%}">{% if 'user' in session %}<a href='/user/logout'>Hello, {{ session["name"] }}! Log-Out</a>{% else %}<a href="/account">Sign-Up or Log-In</a>{% endif %}</li>
    </ul>
    </form>
  </div>
</nav>
  
<div class="container">
  {% block body %}{% endblock %}
</div>
</body>
</html>
