{% extends "base.html" %}
{% block body %}
<div id='lenmsg' style="position:fixed;top:0px;left:0px;width:100%;visibility:hidden;" class="panel panel-default">
  <div class="panel-body">Your chirp is too long (40+ characters) or too short (3- characters)</div>
</div>
<div id="chirps">
    {% for chirp in chirps %}
      <div class="panel panel-warning" id="{{ chirp.id }}">
        <div class="panel-heading" id="{{ chirp.id }}_heading"><left>@{{ chirp.handle }}</left><right>{{ chirp.datetime.split('.')[0] }}</right></div>
        <div class="panel-body" id="{{ chirp.id }}_body">{{ chirp.body }}</div>
        <div class="panel-footer" id="{{ chirp.id }}_footer">{% if name == chirp.handle %}<right><a href="{{url_for('delete_chirp', chirp_id=chirp.id)}}">Delete</a></right>{% endif %}</div>
      </div>
    {% endfor %}
</div>
<form action="/chirp" method="POST">
    <textarea style="position:fixed;right:0px;bottom:10px;" id="chirp_content" name="content" class="form-control" placeholder="What's on your mind?"></textarea>
    <input style="float:right;position:fixed;right:0px;bottom:10px;" type="submit" class="btn btn-warning" value="Chirp"><br/>
</form>
<script>
/*$("#chirp_content").keyup(function(ev) {
    var text = id('chirp_content').innerHTML;
    var len = text.length;
    if(len > 3 || len < 40){
        id('lenmsg').style.display = 'block';
        return 0;
    }
    id('lenmsg').style.display = 'none';
    console.log(false);
}); */
$("#chirp_content").keyup(function(ev) {
   if (ev.which === 13) {
        var text = id('chirp_content').innerHTML;
        var len = text.length;
        console.log(40 > len, len >= 3);
        if(len >= 3 && len < 40){
            //id('lenmsg').style.display = 'block';
            console.log('false');
        }
        else{
            console.log(true);
        }
   }
}); 
</script>
<br><br>
{% endblock %}
