{% extends "base.html" %}
{% block body %}
<h1>Most Followers:</h1>
    <ol>
    {% for tf in top_followers %}
        <li>
            {% if tf.handleid in following %}
                <a href="/user/page/{{ tf.handleid }}">
                    {{ get_user(tf.handleid)[0] }}
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            {% else %}
                <a href="/follow/{{ tf.handleid }}">
                    {{ get_user(tf.handleid)[0] }}
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
{% endblock %}
